<h2 style="text-align: center"><b>PLACE A NEW ORDER</b></h2>
<div class="example-container">
  <mat-form-field>
  <mat-select ngDefaultControl [(ngModel)]="selectedProduct" placeholder="Choose product" required>
    <mat-option *ngFor="let product of productList" [value]="product">{{product.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select ngDefaultControl [(ngModel)]="selectedMaterial" placeholder="Choose material" required>
    <mat-option *ngFor="let material of materialList" [value]="material">{{material.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select ngDefaultControl [(ngModel)]="selectedSurfaceFinish" placeholder="Choose surface finish" required>
    <mat-option *ngFor="let surfaceFinish of surfaceFinishList" [value]="surfaceFinish">{{surfaceFinish.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select ngDefaultControl [(ngModel)]="selectedParts" placeholder="Choose parts" multiple>
    <mat-option *ngFor="let product of productList" [value]="product">{{product.name}}</mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="chosenWidth" placeholder="Width" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="chosenHeight" placeholder="Height" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="chosenDepth" placeholder="Depth" required>
  </mat-form-field>

  <div class="sic-row">
    <div class="sic-column">
      <button mat-raised-button color="primary" (click)="createOrder()">Confirm</button>
    </div>
    <div class="sic-column">
      <button mat-raised-button (click)="back()">Back</button>
    </div>
  </div>
</div>
