.bg-image {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg");
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sic-icon {
  padding: 0 14px;
}

.sic-spacer {
  flex: 1 1 auto;
}

.sic-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sic-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.sic-5);
}

.sic-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sic-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
